<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795684476915-eglke4g7964likjvj6092b8pqdml9mu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795684476915-eglke4g7964likjvj6092b8pqdml9mu4</string>
	<key>API_KEY</key>
	<string>AIzaSyB5C3GvfgTXpmIHGtoMdwa6fg-XZUhrkEw</string>
	<key>GCM_SENDER_ID</key>
	<string>795684476915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhdelni.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bhdelnii</string>
	<key>STORAGE_BUCKET</key>
	<string>bhdelnii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795684476915:ios:afe0281b6d03b96455e486</string>
</dict>
</plist>